Flask==2.0.3
requests==2.26.0
pytest==6.2.5
pytest-cov
customtkinter
pillow
py-linq

# BoulderNet
git+https://github.com/astroNils/MLtools.git
git+https://github.com/astroNils/rastertools.git
git+https://github.com/astroNils/shptools.git